name: CI

on:
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v6
      
      - uses: actions/setup-node@v6
        with:
          node-version: '24'
      
      - name: Установка зависимостей
        run: npm ci
      
      - name: Проверка билда
        run: npm run build
      
      - name: Проверка безопасности
        run: npm audit --audit-level=high
